<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm tabs-light">

  <ion-tab title="Discover" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Learning" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/me">
    <ion-nav-view name="me"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Expert Tips" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/tips">
    <ion-nav-view name="tips"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Apps" icon-off="ion-android-apps" icon-on="ion-android-apps" href="#/tab/apps">
    <ion-nav-view name="apps"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Library" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/library">
    <ion-nav-view name="library"></ion-nav-view>
  </ion-tab>

</ion-tabs>
