
<div class="test-tip-popup">
<div class="tech-tip-popup-header">
<h5 class="tech-tip-heading"> SUBMIT YOUR TECH TIP</h5><span><i ng-click="closeTechtip()" class="ion-close-round closetip"></i></span>
<textarea rows="4" cols="50" placeholder="Enter your Techtip" class="techtip-submit-text" ng-model="techtip"></textarea>
<textarea rows="2" cols="50" placeholder="Enter the video url" ng-model="techtipURL" class="techtip-submit-URL"></textarea>
<button class="submit-tech-button" ng-click="techtipSubmit(techtip, techtipURL)"> Submit </button>
</div>