
<div class="test-tip-popup">
<div class="tech-tip-popup-header" style="position: relative">
<h5 class="tech-tip-heading"> SUBMIT YOUR TECH TIP</h5><span style="position: absolute;right: 15px;top:15px;"><i ng-click="closeTechtip()" class="ion-close-round closetip"></i></span>
<textarea rows="4" cols="50" placeholder="Enter your Techtip" class="techtip-submit-text" ng-model="techtip"></textarea>
<textarea rows="2" cols="50" placeholder="Enter the video url" ng-model="techtipURL" class="techtip-submit-URL"></textarea>
<div class="submit-tech-button-div">
<button class="submit-tech-button" ng-click="techtipSubmit(techtip, techtipURL)" ng-if="techtip!='' && techtipURL!=''"> Submit </button>
<button class="submit-tech-button" ng-click="techtipMandatory()" ng-if="techtip=='' || techtipURL==''" style="opacity: 0.65"> Submit</button>
<p style="color:red;" ng-show="enterMandatoryMsg">{{mandatoryMsg}}</p>
</div>
</div>