@font-face {
    font-family: 'allicons';
    src: url('../font/svg-font/allicons.eot');
    src: url('../font/svg-font/allicons.eot?#iefix') format('embedded-opentype'), url('../font/svg-font/allicons.woff') format('woff'), url('../font/svg-font/allicons.ttf') format('truetype'), url('../font/svg-font/allicons.svg#allicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='all-icon-']:before {
    display: inline-block;
    font-family: 'allicons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.all-icon-bottom-menu_discover:before {
    content: '\0041';
}

.all-icon-bottom-menu_my-learning:before {
    content: '\0042';
}

.all-icon-bottom-menu_techtips:before {
    content: '\0043';
}

.all-icon-bottom-menu_apps:before {
    content: '\0044';
}

.all-icon-bottom-menu_resources:before {
    content: '\0045';
}

.all-icon-icon_filter:before {
    content: '\0046';
}

.all-icon-icon_search-results_manuals:before {
    content: '\0047';
}

.all-icon-icon_search-results_my-learning:before {
    content: '\0048';
}

.all-icon-icon_search-results_pocket-guides:before {
    content: '\0049';
}

.all-icon-tab_events_livelearning:before {
    content: '\004a';
}

.all-icon-tab_events_nationwide:before {
    content: '\004b';
}

.all-icon-icon_arrow:before {
    content: '\004c';
}

.all-icon-icon_mic:before {
    content: '\004d';
}

.all-icon-icon_minus:before {
    content: '\004e';
}

.all-icon-icon_pdf:before {
    content: '\004f';
}

.all-icon-icon_plus:before {
    content: '\0050';
}

.all-icon-icon_search_grey:before {
    content: '\0051';
}

.all-icon-icon_search_white:before {
    content: '\0052';
}

.all-icon-icon_search-results_web-search:before {
    content: '\0053';
}

.all-icon-icon_sort:before {
    content: '\0054';
}

.all-icon-icon_web-link:before {
    content: '\0055';
}

.all-icon-img_calendar:before {
    content: '\0056';
}

.all-icon-img_prof-pic:before {
    content: '\0057';
}

.all-icon-tab_events_my-events:before {
    content: '\0058';
}

.all-icon-tab_my-learning_all-courses:before {
    content: '\0059';
}

.all-icon-tab_my-learning_completed:before {
    content: '\005a';
}

.all-icon-tab_my-learning_in-progress:before {
    content: '\0061';
}
