.platform-ios {
    &.platform-cordova {
        .scroll-content {
            &.discover-wrapper {
                top: 130px;
            }
        }
        .recent-search-wrapper {
            top: 125px;
        }
    }
}

.scroll-content {
    &.discover-wrapper {
        top: 123px;
    }
}

.discover-wrapper {
    .top-header {
        .left {
            float: left;
            img {
                width: 35px;
            }
        }
        .right {
            float: right;
            div {
                float: right;
            }
        }
        .profile-pic-icn {
            width: 38px;
            float: right;
            margin-left: 10px;
        }
        .scte-isbe-cortex-logo {
            width: auto;
            height: 40px;
            padding: 3px;
        }
    }
    .slide-box {
        .slide-image {
            img {
                max-width: 100%;
                width: 100%;
                padding: 0 10px;
            }
        }
        .slider-pager {
            position: relative;
            top: 0;
            clear: both;
            height: 18px;
            .slider-pager-page {
                opacity: 1;
                color: $color-light;
                margin: 0 2px;
                &.active {
                    color: $color-primary;
                }
            }
        }
    }
    .toolkit-box {
        background-color: $color-cream;
        margin: 0 0 15px 0;
        padding: 10px 0 0 10px;
        position: relative;
        .heading {
            @extend .common-main-title;
        }
        .see-all {
            @extend .common-see-all;
            top: 17px !important;
            right: 10px !important;
        }
        .app-box {
            background-color: $color-light;
            width: 100%;
            overflow-x: scroll;
            margin-top: 10px;
            padding-top: 10px;
            padding-left: 10px;
            td {
                width: 80px;
                padding: 0 20px 0 0;
                img {
                    width: 80px;
                }
                p {
                    width: 80px;
                    word-wrap: break-word;
                    font-size: 0.9em;
                    line-height: 14px;
                    color: $color-dark;
                    text-align: center;
                }
            }
        }
    }
    .discover-events {
        margin-top: 10px;
        .card {
            margin: 5px 10px;
        }
    }
    .events-box {
        position: relative;
        background-color: $color-cream;
        padding: 0 10px 10px 10px;
        .heading {
            @extend .common-main-title;
        }
        .see-all {
            @extend .common-see-all;
            top: -1px !important;
            right: 10px !important;
        }
        .event-box {
            @extend .common-event-list;
            .card {
                margin: 0 !important;
            }
        }
        .event-description {
            .event-url {
                .row {
                    .col-15 {
                        padding-top: 5px !important;
                    }
                }
            }
        }
    }
    .rss-feeds-box {
        position: relative;
        background-color: $color-cream;
        font-weight: 700;
        padding: 0 10px 10px 10px;
        &.padding-zero {
            padding: 0;
        }
        .informed-logo {
            width: 100px;
        }
        .heading {
            @extend .common-main-title;
        }
        .see-all {
            @extend .common-see-all;
            right: 10px !important;
        }
        .list {
            h2 {
                color: $color-primary;
                font-weight: 700;
            }
            p {
                overflow: initial;
                white-space: initial;
                font-weight: 500;
            }
            i {
                color: $color-link;
            }
            .rss-description p:not(:first-child) {
                display: none;
            }
            .rss-description {
                @extend .common-ellipsis;
                -webkit-line-clamp: 3;
            }
        }
    }
}

.user-name {
            margin-top: 4px;
            vertical-align: text-top;
            text-align: right;
            text-transform: capitalize;
            font-size: 15px;
            color: $color-primary;
            font-weight: 300;
            float: right;
}

 .left-logo {
            
            img {
                height: 35px;
            }
    }

/* search box in sub header */

.search-box-wrapper {
    background-color: $color-cream;
    height: 60px;
    padding: 10px;
    .item-input-wrapper {
        background-color: $color-light;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 3px;
        border: 1px solid $color-primary;
        input {
            width: 100%;
            padding: 0 10px;
            height: 40px;
        }
    }
    .mic-icn {
        font-size: 22px;
        color: $color-primary;
    }
    .search-icn {
        font-size: 15px;
        margin-top: 5px;
    }
}


/* recent searches modal */

.recent-search-wrapper {
    top: 100px;
    i {
        &.arrow-icon {
            color: $color-primary;
        }
    }
    .title {
        color: $color-grey;
        font-size: 14px;
    }
    .list {
        label {
            &.date {
                color: $color-dark;
                font-size: 10px;
            }
            &.query {
                color: $color-primary;
                font-size: 18px;
            }
            &.count {
                color: $color-dark;
                font-size: 10px;
                background: $color-dull;
                padding: 3px 10px;
            }
        }
    }
}


/* filter slider */

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.filter-slider {
    width: 78%;
    background: $color-light;
    right: 0;
}

.filter-slider {
    .filter-header {
        margin-top: 10px;
        .title {
            font-weight: 700;
            font-size: 14px;
            color: $color-grey;
            padding: 8px 0 0 17px;
        }
    }
    .content-type-box {
        .title {
            margin-left: 17px;
            font-weight: 700;
        }
    }
    .format-box {
        .title {
            margin-left: 17px;
            font-weight: 700;
        }
    }
    .filter-footer {
        margin: 15px 0px 25px 0px;
        text-align: center;
    }
}

@media (min-width: 680px) {
    .filter-slider.modal {
        width: 50% !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 50% !important;
    }
    .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
        margin-top: 20px;
    }
    .modal-wrapper .modal .bar-header:not(.bar-subheader) {
        height: 64px;
    }
    .modal-wrapper .modal .has-header,
    .modal-wrapper .modal .bar-subheader {
        top: 64px;
    }
    .recent-search-wrapper.modal {
        width: 100% !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
    }
}
