.discover-wrapper {
    .top-header {
        margin-top: 5px;
        .left {
            float: left;
            padding-top: 5px;
        }
        .right {
            float: right;
            div {
                float: right;
            }
        }
        .profile-pic-icn {
            width: 38px;
            float: right;
            margin-left: 10px;
        }
        .user-name {
            margin-top: 4px;
            vertical-align: text-top;
            text-align: right;
            text-transform: capitalize;
            font-size: 13px;
            color: $color-light;
            font-family: 'light';
            line-height: 17px;
        }
        .scte-isbe-cortex-logo {
            width: 175px;
        }
    }
    .slide-wrapper {
        .slide-image {
            img {
                max-width: 100%;
                width: 100%;
                padding: 0 10px;
            }
        }
        .slider-pager {
            position: relative;
            top: 0;
            clear: both;
            height: 18px;
            .slider-pager-page {
                opacity: 1;
                color: $color-light;
                margin: 0px 2px;
                &.active {
                    color: $color-primary;
                }
            }
        }
    }
    .resources-wrapper {
        background: $color-dull;
        margin: 15px 0;
        padding: 10px 0 10px 15px;
        .header {
            @extend .common-main-title;
        }
        .app-box {
            width: 100%;
            overflow-x: scroll;
            margin-top: 10px;
            td {
                width: 80px;
                padding: 0 20px 0 0;
            }
            img {
                width: 80px;
            }
            p {
                width: 80px;
                word-wrap: break-word;
                font-family: inherit;
                font-size: 10pt;
                color: $color-dark;
                text-align: center;
            }
        }
    }
    .discover-events {
        margin-top: 10px;
        .card {
            margin: 5px 10px;
        }
    }
    .events {
        position: relative;
        background-color: $color-dull;
        padding: 5px 5px 20px 10px;
        .heading {
            @extend .common-main-title;
        }
        .see-all {
            position: absolute;
            top: 12px;
            right: 10px;
            color: $color-link;
        }
        .eventindiv {
            // margin: 7px 20px;
            padding: 0;
            .date-box {
                position: relative;
                width: 50px;
                .date {
                    position: absolute;
                    top: 13px;
                    left: 17px;
                    font-family: 'bold';
                }
                .month {
                    text-transform: uppercase;
                    position: absolute;
                    top: 35px;
                    left: 0px;
                    font-size: 10px;
                    color: $color-light;
                    text-align: center;
                    font-family: 'bold';
                    width: 100%;
                    div {
                        position: absolute;
                        left: 0px;
                    }
                }
                img {
                    width: 50px;
                }
            }
            .text-box {
                padding: 0;
                padding-left: 35px;
                .row-top {
                    a {
                        color: $color-primary;
                        font-family: 'bold';
                    }
                }
                .row-bottom {
                    font-family: 'light';
                }
            }
            .bg {
                background-image: url(./svg/img_calendar.svg);
            }
        }
    }
}


/*search box in sub header*/

.search-box-wrapper {
    background-color: $color-primary;
    height: 60px;
    padding: 10px;
    .item-input-wrapper {
        background-color: $color-light;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 3px;
        input {
            width: 100%;
            padding: 0 10px;
            height: 40px;
        }
    }
    .mic-icn {
        width: 15px;
    }
    .search-icn {
        width: 18px;
    }
}


/* recent searches modal */

.recent-search-wrapper {
    top: 100px;
    i {
        &.arrow-icon {
            color: $color-primary;
        }
    }
    .title {
        color: $color-grey;
        font-size: 14px;
    }
    .list {
        label {
            &.date {
                color: $color-dark;
                font-size: 10px;
            }
            &.query {
                color: $color-primary;
                font-size: 18px;
            }
            &.count {
                color: $color-dark;
                font-size: 10px;
                background: $color-dull;
                padding: 3px 10px;
            }
        }
    }
}

.overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.sort-slider,
.filter-slider {
    width: 78%;
    background: $color-light;
    right: 0;
}

.sort-slider {
    .sort-title {
        font-family: 'bold';
        font-size: 14px;
        color: $color-grey;
        padding: 8px 0 0 17px;
    }
}

.filter-slider {
    .filter-header {
        margin-top: 10px;
    }
    .filter-title {
        font-family: 'bold';
        font-size: 14px;
        color: $color-grey;
        padding: 8px 0 0 17px;
    }
    .content-type-box {
        .title {
            margin-left: 17px;
            font-family: 'bold';
        }
    }
    .published-box {
        background-color: #eee;
        padding: 10px 0 20px 0;
        .radio-box {
            margin-left: 17px;
            .radio-select {
                padding: 5px 0;
            }
        }
        .title {
            margin-left: 17px;
            font-family: 'bold';
        }
        .date-box {
            .title {
                font-size: 12px;
            }
            .item-input-wrapper {
                font-size: 12px;
                margin: 0 10px;
                position: relative;
                img {
                    position: absolute;
                    right: 12px;
                    top: 5px;
                }
                input {
                    width: 100%;
                }
                input[disabled] {
                    background-color: $color-light !important;
                }
            }
        }
    }
    .regular-radio {
        -webkit-appearance: none;
        background-color: $color-light;
        border: 1px solid $color-dull;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 50px;
        display: inline-block;
        position: relative;
        &:checked {
            background-color: $color-primary;
            color: $color-dull;
            border: 1px solid $color-dull;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
            &:after {
                content: ' ';
                width: 12px;
                height: 12px;
                border-radius: 50px;
                position: absolute;
                top: 3px;
                background: $color-primary;
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
                text-shadow: 0;
                left: 3px;
                font-size: 32px;
            }
        }
        &:active,
        &:checked:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
        }
    }
    .format-box {
        .title {
            margin-left: 17px;
            font-family: 'bold';
        }
    }
    .filter-footer {
        margin: 15px 0px 25px 0px;
        text-align: center;
    }
}
