.my-events {
    .scroll-content {
        top: 90px;
        &.event-detail-content {
            top: 44px !important;
        }
    }
    .subheader-tabs {
        line-height: 11px;
        text-align: center;
        color: $color-dark;
        padding-top: 5px;
        left: 0;
        .tab-title {
            font-size: 10px;
        }
        .tab-item {
            text-align: center;
            text-overflow: initial;
            font-size: 12px;
            padding-top: 5px;
        }
        .border {
            border-left: 1px solid $color-cream;
        }
        i {
            font-size: 20px;
            color: $color-primary;
        }
        a {
            color: $color-dark;
            font-weight: 700;
        }
    }
    .event-box {
        @extend .common-event-list;
        .eventindiv {
            .event-description {
                width: 100%;
                font-weight: 300;
                p {
                    padding: 7px;
                    color: $color-dark;
                }
                a {
                    padding: 7px;
                    color: $color-dark;
                    text-decoration: none;
                    img {
                        width: 15px;
                    }
                }
                .description-button {
                    text-align: center;
                    padding-top: 15px;
                    a {
                        color: $color-link;
                        padding: 5px;
                    }
                }
            }
            button.reg-btn {
                margin-bottom: 0;
                background-color: $color-primary;
                text-transform: uppercase;
            }
        }
    }
}
