.my-learning {
    .main-title {
        @extend .common-main-title;
    }
    .live-learning {
        position: relative;
        .event-box-text {
            position: absolute;
            bottom: 5px;
            right: 0;
            color: $color-light;
            font-size: 15px;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px;
            text-align: right;
        }
    }
    .subheader-tabs {
        line-height: 11px;
        text-align: center;
        padding-top: 5px;
        .tabs {
            height: 44px;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            border-top-width: 0;
        }
        .tab-item {
            text-align: center;
            &.active {
                border-top: none;
            }
        }
        .border {
            border-left: 1px solid #eee;
        }
        i {
            font-size: 20px;
            color: $color-primary;
        }
        .tab-title {
            font-size: 10px;
            font-weight: 700;
        }
        a {
            color: $color-dark;
            font-weight: 700;
            padding-top: 5px;
        }
    }
    .tabs-secondary {
        background-size: 0;
        left: 0;
    }
    .course-catalog {
        background-color: $color-dull;
        width: 100%;
        padding: 5px 10px;
        button {
            font-weight: 500;
            font-size: 14px;
            color: $color-link;
            &::before {
                position: absolute;
                top: 55%;
                right: 5px;
                -webkit-transform: translateY(-55%);
                transform: translateY(-55%);
            }
        }
    }
    .scroll-content {
        width: 100%;
    }
    .course-list {
        .accordian-icon {
            position: absolute;
            right: 10px;
        }
        i {
            float: right;
            margin-left: 2%;
        }
    }
    .course-module-content {
        a {
            color: $color-dark;
            font-weight: 300;
            p {
                width: 90%;
                float: left;
            }
            i {
                float: right;
                color: $color-link;
            }
        }
    }
    .mylearning-webinars {
        img {
            width: 100%;
            text-align: center;
        }
    }
    .event-box {
        @extend .common-event-list;
    }
    .mylearning-game-header {
        position: relative;
        div {
            display: inline;
        }
        .see-all {
            @extend .common-see-all;
        }
        .mylearning-games {
            margin: 10px;
            @extend .common-main-title;
        }
    }
    .games {
        h2 {
            color: $color-primary;
            font-weight: 700;
        }
        p {
            font-weight: 300;
            color: $color-dark;
            white-space: normal;
        }
        .para p:not(:first-child) {
            display: none;
        }
        .para {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        .all-para {
            p {
                display: block;
            }
        }
        a {
            &.read-more {
                font-size: 14px;
            }
        }
    }
    .inprogress-course {
        background-color: #E8E8E8;
        font-weight: 300;
        .coursesNil {
            color: #9fa4a6;
            padding: 10px;
        }
        .course-module-content {
            ion-item {
                font-weight: 300;
                color: $color-primary;
            }
        }
        .course-list {
            i {
                color: $color-primary;
            }
        }
    }
    .event-box {
        height: 165px;
        font-size: large;
        background: url(../img/bg.jpeg);
        padding: 44px 0;
        @extend .common-event-list;
        .eventindiv {
            .date-box {
                .date {
                    &.datelearning {
                        left: 15px;
                    }
                }
            }
            .text-box {
                .row-top {
                    a {
                        &.title {
                            color: $color-light;
                        }
                    }
                }
            }
        }
    }
}


/* games page */

.games-wrapper {
    .game-title {
        text-align: center;
        padding: 15px 10px 15px 10px;
    }
    .game-description {
        text-align: center;
        padding: 15px 10px 15px 10px;
    }
    .game-image {
        text-align: center;
        img {
            width: 150px;
        }
    }
    .game-play-button {
        width: 180px;
        height: 30px;
        border: 1px solid $color-link;
        background-color: $color-link;
        border-radius: 5px;
        text-align: center;
        padding: 3px;
        margin-bottom: 10px;
        color: white;
    }
}


/* modal */

.mylearning-wrapper {
    .main-title {
        @extend .common-main-title;
        margin: 10px;
    }
    .sub-title {
        margin: 10px;
        color: $color-primary;
        font-size: 18px;
    }
    .progress-bar {
        height: 20px;
        width: 100%;
        background: $color-dull;
        position: relative;
        .completed {
            height: 20px;
            background: $color-link;
        }
        span {
            text-transform: uppercase;
            color: $color-dark;
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
        }
    }
    .cards {
        padding: 0;
        .media-video {
            img {
                width: 100%;
            }
            .title {
                padding: 5px;
                text-align: center;
                font-weight: 700;
            }
        }
        .media-pdf {
            .placeholder {
                width: 100%;
                height: 100px;
                background: $color-link;
                position: relative;
            }
        }
    }
    .card {
        .media-pdf {
            .placeholder {
                img {
                    width: 50px;
                    position: absolute;
                    top: 26px;
                    left: 20px;
                }
            }
            .text-box {
                padding: 10px;
            }
            .title {
                color: $color-link;
                font-weight: 300;
            }
            .description {
                font-weight: 300;
            }
        }
    }
}

@media (min-width: 680px) {
    .my-learning {
        .course-catalog {
            text-align: center;
            .button {
                width: 45%;
            }
        }
        .subheader-tabs {
            .tab-inprogress,
            .tab-completed {
                padding-right: 65px;
            }
        }
    }
    .games-wrapper {
        .game-description {
            padding: 15px 100px 15px 100px;
        }
    }
}

@media (min-width: 768px) {
    .my-learning {
        .course-catalog {
            background-color: $color-dull;
            position: relative;
            top: 0;
            width: 100%;
            padding: 20px;
            font-weight: 700;
            color: $color-link;
            //
            .row .col img {
                position: absolute;
                left: 90%;
                right: 0;
                margin: 0 auto;
                top: 35%;
                transform: translateY(-50%);
            }
            .button {
                width: 45%;
                left: 170px;
            }
        }
        .live-learning {
            .event-box-text {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
}
