.my-learning {
    .main-title {
        @extend .common-main-title;
    }
    .live-learning {
        position: relative;
        .event-box-text {
            position: absolute;
            bottom: 5px;
            right: 0;
            color: $color-light;
            font-size: 15px;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px;
            text-align: right;
        }
    }
    .subheader-tabs {
        line-height: 11px;
        text-align: center;
        padding-top: 5px;
        .tabs {
            height: 44px;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            border-top-width: 0;
        }
        .tab-item {
            text-align: center;
            &.active {
                border-top: none;
            }
        }
        .border {
            border-left: 1px solid $color-cream;
        }
        i {
            font-size: 20px;
            color: $color-primary;
        }
        .tab-title {
            font-size: 10px;
            font-weight: 700;
        }
        a {
            color: $color-dark;
            font-weight: 700;
            padding-top: 5px;
        }
    }
    .tabs-secondary {
        background-size: 0;
        left: 0;
    }
    .coursesNil {
        line-height: 1.2;
        color: grey;
        padding-bottom: 10px;
    }
    .course-catalog {
        width: 100%;
        padding: 5px 10px;
        button {
            font-weight: 500;
            font-size: 14px;
            color: $color-link;
            min-height: 40px;
            margin-top: 0 !important;
            text-transform: uppercase;
        }
    }
    .scroll-content {
        width: 100%;
    }
    .course-module-content {
        .item-stable {
            background-color: $color-light;
            color: $color-dark !important;
        }
        .course-list {
            .icon {
                font-size: 18px;
            }
        }
        .item-accordion {
            .item {
                color: $color-primary;
                background-color: $color-dull;
                .ion-chevron-right {
                    font-size: 18px;
                    color: $color-primary;
                }
            }
        }
    }
    .mylearning-webinars {
        img {
            width: 100%;
            text-align: center;
        }
    }
    .event-box {
        @extend .common-event-list;
    }
    .mylearning-game-header {
        position: relative;
        div {
            display: inline;
        }
        .see-all {
            @extend .common-see-all;
        }
        .mylearning-games {
            margin: 10px;
            @extend .common-main-title;
        }
    }
    .games {
        h2 {
            color: $color-primary;
            font-weight: 700;
            @extend .common-ellipsis;
            -webkit-line-clamp: 2;
        }
        p {
            font-weight: 300;
            color: $color-dark;
            white-space: normal;
        }
        .para p:not(:first-child) {
            display: none;
        }
        .para {
            @extend .common-ellipsis;
            -webkit-line-clamp: 3;
        }
        .all-para {
            p {
                display: block;
            }
        }
        a {
            &.read-more {
                font-size: 14px;
            }
        }
    }
    .inprogress-course {
        background-color: #E8E8E8;
        font-weight: 300;
        .course-module-content {
            ion-item {
                font-weight: 300;
                color: $color-primary;
            }
        }
        .course-list {
            i {
                color: $color-primary;
            }
        }
    }
}


/* games page */

.games-wrapper {
    .game-title,
    .game-description {
        text-align: center;
        padding: 15px 10px 15px 10px;
    }
    .game-image {
        text-align: center;
        img {
            width: 150px;
        }
    }
    .game-play-button {
        width: 180px;
        height: 30px;
        border: 1px solid $color-link;
        background-color: $color-link;
        border-radius: 5px;
        text-align: center;
        padding: 3px;
        margin-bottom: 10px;
        color: white;
    }
}

@media (min-width: 680px) {
    .my-learning {
        .subheader-tabs {
            .tab-inprogress,
            .tab-completed {
                padding-right: 0px;
            }
        }
    }
    .games-wrapper {
        .game-description {
            padding: 15px 100px 15px 100px;
        }
    }
}

@media (min-width: 768px) {
    .my-learning {
        .live-learning {
            .event-box-text {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
}
