.resource {
    .main-title {
        @extend .common-main-title;
    }
    .dictionary {
        position: relative;
        .card {
            margin-top: 0;
        }
        .eachpad {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid $color-link;
            margin: 0px 2px 5px 2px;
            display: inline-block;
            text-align: center;
            font-family: 'bold';
            color: $color-link;
        }
        .alphapad {
            // padding: 5px 25px 0px 25px;
        }
        .heading {
            color: $color-grey;
            font-family: 'bold';
        }
        .see-all {
        font-family:'light';
            position: absolute;
            top: 0;
            right: 0;
            color: $color-link;
        }
        .text {
            word-wrap: break-word;
            text-decoration: none;
            color: $color-dark;
        }
    }
    .scte,
    .whitepaper {
        position: relative;
        background-color: $color-cream;
        font-family: 'bold';
        .heading {
            @extend .common-main-title;
        }
        .see-all {
        font-family:'light';
            position: absolute;
            top: 0;
            right: 0;
            color: $color-link;
        }
        .list {
            img {
                border-radius: 0;
                max-height: 50px;
            }
            h2 {
                color: $color-primary;
                font-family: 'bold';
            }
            p {
                overflow: initial;
                white-space: initial;
                font-family: 'regular';
            }
            i {
                color: $color-link;
            }
        }
    }
    .alpha {
        .link {
            font-size: 15px;
        }
    }
}

.standards-list,
.whitepaper-list {
    .item-avatar {
        img {
            border-radius: 0;
            max-height: 50px;
        }
    }
    h2 {
        font-family: 'regular';
        color: $color-primary
    }
    .icon-accessory {
        color: $color-link;
    }
}


/* dictionary */

.dictionary-wrapper {
    .dic-title {
        @extend .common-main-title;
        margin: 10px;
    }
    ion-item.item {
        padding: 1px;
        border-width: 0px;
    }
}

.searchinput {
    background-color: $color-dull;
}

.searchbox {
    height: 35px;
}

#searchbar.row {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.list-leftword {
    font-family: 'bold';
    color: black;
    font-size: 14px;
}

.list-rightword {
    font-family: 'bold';
    color: #1070B4;
    font-size: 14px;
}

.platform-android {
    ion-popover-view.fit {
        margin-top: 10px;
    }
}

#popoverviewdiv {
    element.style {
        left: 30%;
    }
}

#popuplable {
    .item {
        background-color: $color-light;
        border-width: 0px;
    }
}

.subheadingtext {
    font-family: 'bold';
    color: $color-dark;
    font-size: 15px;
}

.descriptivetext {
    font-family: 'light';
    color: $color-dark;
    font-size: 15px;
}

.popover {
    .scroll-content {
        top: 1px;
    }
}

div#listview.row {
    padding: 5px;
}

#leftlable.item {
    background-color: transparent;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 1px;
    border-width: 0px;
}

#rightlable.item {
    background-color: transparent;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 1px;
    border-width: 0px;
}

.ion_alpha_list_outer {
    .list {
        padding-right: 30px;
        padding-left: 10px;
        max-height: 100%;
    }
    .item {
        border-right: none;
        font-family: 'bold';
        color: $color-link;
        font-size: 12px;
    }
}

.ion_alpha_sidebar {
    position: fixed;
    right: 10px;
    height: auto;
    overflow: auto;
    margin: 1px;
    padding: 3px;
    li {
        line-height: 1.3;
        font-family: 'bold';
        font-size: 12px;
        width: 15px;
    }
}

ul.ion_alpha_sidebar {
    background-color: $color-cream;
    align-items: center;
    border-radius: 8px;
    text-align: center;
}

.bar.search-space {
    background-color: $color-dull;
    height: 60px;
    padding: 10px;
}

ion-popover-view.fit {
    width: auto;
    height: auto;
    ion-content {
        position: relative;
    }
}

.platform-ios ion-popover-view.fit {
    .item:first-child {
        @include border-top-radius($popover-border-radius-ios);
    }
    .item:last-child {
        @include border-bottom-radius($popover-border-radius-ios);
    }
}
