.search-results-wrapper {
    .header-bar-icns {
        td {
            padding: 5px 10px;
            .icon-sort,
            .icon-filter {
                font-size: 25px;
                color: $color-light;
            }
        }
    }
    .main-title {
        @extend .common-main-title;
    }
    .brand {
        margin: 30px 0;
        text-align: center;
        img {
            width: 250px;
        }
    }
    .search-results-box {
        width: 100%;
        .card {
            h2 {
                color: $color-primary;
                font-weight: 700;
                @extend .common-ellipsis;
                -webkit-line-clamp: 2;
            }
            .row,
            .col,
            .col-25 {
                padding: 0 !important;
            }
            .content-box-video {
                padding: 0;
                img {
                    width: 100%;
                }
            }
            .footer {
                padding-bottom: 35px;
                font-size: 14px;
                .left {
                    float: left;
                    text-transform: capitalize;
                }
                .right {
                    float: right;
                }
            }

            .urlfooter {
                padding-bottom: 25px;
                font-size: 14px;
                .left {
                    float: left;
                    text-transform: capitalize;
                }
                .right {
                    float: right;
                }
            }
        }
    }
    .view-more {
        margin: 30px 0;
        text-transform: uppercase;
        text-align: center;
        color: $color-link;
    }
}

.error-msg {
    color: $color-grey;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .search-results-wrapper {
        .brand {
            img {
                width: 500px;
            }
        }
    }
}
