.secondary-buttons {
    label {
        &.submit-btn {
            color: $color-light;
            margin: 9px;
        }
    }
}

.techtips {
    .main-title {
        @extend .common-main-title;
    }
    .card {
        &.techtips-video-pdf-types {
            h2 {
                color: $color-primary;
                font-weight: 700;
            }
            p {
                color: $color-dark;
            }
            .video {
                .video-container-youtube {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    a {
                        position: absolute;
                        display: block;
                        height: 48px;
                        width: 50px;
                        top: 68px;
                        left: 142px;
                        background: url("../img/play.png") center center no-repeat;
                    }
                }
                .video-container-youtube iframe,
                .video-container object,
                .video-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .html {
                .header {
                    .row {
                        padding: 0;
                        .col-75 {
                            padding-left: 10px;
                        }
                        .col-25 {
                            img {
                                padding-top: 3px;
                            }
                        }
                    }
                }
                .content {
                    //...
                }
                .footer,
                .footer-primers {
                    position: relative;
                    a {
                        color: $color-link;
                    }
                    .techtips-ratings {
                        position: absolute;
                        top: 15px;
                        right: 10px;
                        .ionic_ratings {
                            .icon {
                                font-size: 22px;
                            }
                        }
                    }
                }
                .footer {
                    text-align: center;
                }
                .footer-primers {
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: 599px) {
    .techtips {
        .card {
            &.techtips-video-pdf-types {
                .video {
                    .video-container-youtube {
                        a {
                            position: absolute;
                            display: block;
                            height: 48px;
                            width: 50px;
                            top: 130px;
                            left: 250px;
                            background: url("../img/play.png") center center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .techtips {
        .card {
            &.techtips-video-pdf-types {
                .video {
                    .video-container-youtube {
                        a {
                            position: absolute;
                            display: block;
                            height: 48px;
                            width: 50px;
                            top: 140px;
                            left: 320px;
                            background: url("../img/play.png") center center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 330px) {
    .techtips {
        .card {
            &.techtips-video-pdf-types {
                .video {
                    .video-container-youtube {
                        a {
                            position: absolute;
                            display: block;
                            height: 48px;
                            width: 50px;
                            top: 54px;
                            left: 116px;
                            background: url("../img/play.png") center center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

.techtip-submit-wrapper {
    .main-title {
        @extend .common-main-title;
    }
    .techtip-submit-text,
    .techtip-submit-url {
        font-size: 17px;
        font-weight: 300;
        border: 1px solid $color-grey;
        width: 100%;
    }
    .techtip-submit-text {
        line-height: 1.6em;
        padding: 9px 0 0 20px;
    }
    .techtip-submit-url {
        margin-top: 20px;
        padding: 9px 20px 9px 20px;
    }
    .submit-tech-button-div {
        margin-top: 20px;
        button {
            &.button-positive {
                background-color: $color-primary;
                text-transform: uppercase;
            }
        }
    }
}
