<ion-view>
  <ion-nav-title>
    <img src="img/scteheader.png" style="max-height: 100%; max-width: 100%;"></img>
  </ion-nav-title>

  <ion-header-bar class="bar-subheader box-shadow has-input item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search courses, guides, terms, etc." ng-model="query" ng-init="query=''" ng-focus="showRecentSearches()" ng-blur="hideRecentSearches()" ng-change="searchChange()">
    </label>

    <a class="button button-icon stable icon ion-android-microphone"></a>
<!--     <a class="button button-icon stable icon ion-android-microphone" ng-if="query.length == 0"></a> -->
<!--     <button class="button button-icon stable icon ion-android-cancel" ng-show="query.length > 0" ng-click="query = ''"></button> -->
  </ion-header-bar>


  <ion-content class="has-subheader stable-bg">
    <ion-refresher on-refresh="refresh()" pulling-icon="ion-chevron-up"></ion-refresher>

      <div class="list card">
        <div class="item item-image">
          <img holder data-src="holder.js/100px100?outline=yes&text=">
        </div>
      </div>

      <div class="card" ng-controller="ConfigController">
        <div class="item">
          <h2><b>Featured resources</b></h2>
          <div class="row">
            <div class="col" ng-repeat="item in staticcontent.featuredresources" ng-click="openPage(item.url)" ng-if="item.os==platform">
              <img class="app-icon" ng-src="{{item.coverimageurl}}" ng-if="item.type=='app'" alt="{{item.title}}" >
              <img class="pdf-icon" ng-src="{{item.coverimageurl}}" ng-if="item.type!='app'" alt="{{item.title}}" >
            </div>
          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item item-image">
          <img holder data-src="holder.js/100px100?outline=yes&text=">
        </div>
      </div>

      <div class="list card">
        <div class="item">
          <span class="item-note">
            <a class="" href="#">more >></a>
          </span>
          <h2><b>My events</b></h2>
        </div>
<!--         <a class="item item-icon-left" href="#" ng-repeat="i in [0,1,2,3,4,5]"> -->
        <a class="item item-text-wrap" href="#" ng-repeat="i in [0,1,2,3,4,5]">
          <div class="row">
            <div class="col-25 text-center">
              <i class="icon bigicon ion-calendar"></i>
              <h2><b>Aug. 21<b></h2>
            </div>
            <div class="col-75">
              <h2><b>Local chapter meeting</b></h2>
              <p>Anthony Center</p>
              <p>7:00pm</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </a>
      </div>


 

  </ion-content>
</ion-view>
