<ion-view view-title="Dictionary" ng-controller="dictionaryCtrl" class="dictionary-wrapper">
    <ion-nav-title>
        <img src="img/cortex_logo.png" class="header-corter-logo">
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <i ng-click="redirectDisover()" class="all-icon-icon_search_white header-search-icon"></i>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader searchinput">
        <label class="item item-input searchbox">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search for a keyword" ng-model="searchString" ng-change="searchTextDidChange()">
        </label>
    </ion-header-bar>
    <ion-content overflow-scroll="true" class="has-header has-subheader padding">
        <h4 class="dic-title">Dictionary</h4>
        <ion-list>
            <ion-item collection-repeat="item in filteredItems" item-render-buffer='20'>
                <div class="row row-center listview" ng-click="openPopover($event,$index)">
                    <div class="col col-25">
                        <label class="item list-leftword">{{item.Abbreviation}}</label>
                    </div>
                    <div class="col col-75">
                        <label class="item list-rightword">{{item.Description}}</label>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
