<div ng-hide="!activeTab = 1" class="my-events">
    <div class="event-details" ng-repeat="liveLearningEvent in liveLearning">
        <div class="row">
            <div class="col">
                <div class="event-date">
                    <span class="circle">{{liveLearningEvent.eventDate}}</span><br>
                    <span>{{liveLearningEvent.eventMonth}}</span>
                </div>
            </div>
            <div class="col col-75">
                <h5>{{liveLearningEvent.eventTitle}}</h5>
                <b>Location : </b> {{liveLearningEvent.eventLocation}}<br>
                <b>When : </b> {{liveLearningEvent.eventTime}}
            </div>
        </div>
        <i class="icon ion-link">  www.scte.org/events</i>
        <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p><br>
        <button class="myevents-calendar">Add to Calendar</button>
    </div>
    <!-- <div class="event-details">
        <div class="row">
            <div class="col">
                <div class="event-date">
                    <span class="circle">27th</span>
                    <br>
                    <span>May</span>
                </div>
            </div>
            <div class="col col-75">
                <h4>East Pennsylvania Chapter Training</h4>
                <b>Location:</b> SCTE Exton, PA
                <br>
                <b>When:</b> All Day
            </div>
        </div>
        <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p>
        <i class="icon ion-link">  www.scte.org/events</i>
        <button class="myevents-calendar">Add to Calendar</button>
    </div> -->
</div>
