<ion-view view-title="{{cortexLogo}}" class="my-events">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-search"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader">
        <div class="tabs tabs-secondary subheader-tabs" ng-init="activeTab = 0">
            <a class="tab-item my-events-myevents" ng-class="{active: activeTab == 0}" ng-click="activeTab = 0" ui-sref="tab.resourcesmyevents">
                <img src="img/svg/tab_events_my-events.svg" width="25%" />
                <br> My Events
            </a>
            <a class="tab-item my-events-livelearning" ng-class="{active: activeTab == 1}" ng-click="activeTab = 1">
                <img src="img/svg/tab_events_livelearning.svg" width="27%" />
                <br> Live Learning
            </a>
            <a class="tab-item my-events-mychapter" ng-class="{active: activeTab == 2}" ng-click="activeTab = 2">
                <img src="img/svg/tab_my-learning_all-courses.svg" width="25%" />
                <br> My Chapter
            </a>
            <a class="tab-item my-events-nationwide" ng-class="{active: activeTab == 3}" ng-click="activeTab = 3">
                <img src="img/svg/tab_events_nationwide.svg" width="25%" />
                <br> Nationwide
            </a>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader scroll-content background padding">
        <div ng-show="activeTab == 0">
            <div class="card eventindiv" ng-repeat="event in myEvents">
                <div class="row">
                    <div class="col-30">
                        <div class="date-box">
                            <img src="img/svg/img_calendar.svg" />
                            <div class="date"><b>{{event.eventDate}}</b></div>
                            <div class="month"><b>{{event.eventMonth}}</b></div>
                        </div>
                    </div>
                    <div class="col-70">
                        <div class="text-box">
                            <div class="row-top"><a href="">{{event.eventTitle}}</a></div>
                            <div class="row-bottom"><b>Location: </b>{{event.eventLocation}}
                                <br>
                                <b>When: </b>{{event.eventTime}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-description">
                    <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p>
                    <a href=""><img src="img/svg/icon_web-link.svg" /> <b>www.scte.org/events</b></a><br><br>
                    <button class="myevents-calendar" ng-click="addEvent(event.eventDate,event.WPeventYear,event.WPeventMonth,event.WPstartTime, event.WPendTime,event.eventTitle,event.eventLocation)"><b>Add to Calendar</b></button>
                </div>
            </div>
        </div>
        <div ng-show="activeTab == 1" class="my-events">
    <div class="card eventindiv" ng-repeat="liveLearningEvent in liveLearning">
        <div class="row">
            <div class="col-30">
                <div class="date-box">
                <img src="img/svg/img_calendar.svg" />
                <div class="date"><b>{{liveLearningEvent.eventDate}}</b></div>
                <div class="month"><b>{{liveLearningEvent.eventMonth}}</b></div>
                </div>
            </div>
            <div class="col-70">
                <div class="text-box">
                <div class="row-top"><a href="">{{liveLearningEvent.eventTitle}}</a></div>
                <div class="row-bottom"><b>Location: </b> {{liveLearningEvent.eventLocation}}
                    <br>
                    <b>When: </b>{{liveLearningEvent.eventTime}}</div>
                </div>
            </div>
        </div>
        <div class="event-description">
            <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p>
            <a href=""><img src="img/svg/icon_web-link.svg" />  <b>www.scte.org/events</a></b><br><br>
            <button class="myevents-calendar" ng-click="addEvent(liveLearningEvent.eventDate,liveLearningEvent.WPeventYear,liveLearningEvent.WPeventMonth,liveLearningEvent.WPstartTime, liveLearningEvent.WPendTime,liveLearningEvent.eventTitle,liveLearningEvent.eventLocation)"><b>Add to Calendar</b></button>
        </div>
    </div>
</div>
<div ng-show="activeTab == 2" class="my-events">
    <div class="card eventindiv" ng-repeat="myChapter in myChapters">
        <div class="row">
            <div class="col-30">
                <div class="date-box">
                    <img src="img/svg/img_calendar.svg" />
                    <div class="date"><b>{{myChapter.eventDate}}</b></div>
                    <div class="month"><b>{{myChapter.eventMonth}}</b></div>
                </div>
            </div>
            <div class="col-70">
                <div class="text-box">
                    <div class="row-top"><a href="">{{myChapter.eventTitle}}</a></div>
                    <div class="row-bottom"><b>Location: </b> {{myChapter.eventLocation}}
                        <br>
                        <b>When: </b>{{myChapter.eventTime}}</div>
                </div>
            </div>
        </div>
        <div class="event-description">
            <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p>
            <a href=""><img src="img/svg/icon_web-link.svg" /> <b>www.scte.org/events</b></a><br><br>
            <button class="myevents-calendar" ng-click="addEvent(myChapter.eventDate,myChapter.WPeventYear,myChapter.WPeventMonth,myChapter.WPstartTime, myChapter.WPendTime,myChapter.eventTitle,myChapter.eventLocation)"><b>Add to Calendar</b></button>
        </div>
    </div>
</div>

<div ng-show="activeTab == 3" class="my-events">
    <div class="card eventindiv event-details" ng-repeat="nationwideEvent in nationwideEvents">
        <div class="row">
            <div class="col-30">
                <div class="date-box">
                <img src="img/svg/img_calendar.svg" />
                <div class="date"><b>{{nationwideEvent.eventDate}}</b></div>
                <div class="month"><b>{{nationwideEvent.eventMonth}}</b></div>
            </div>
            </div>
            <div class="col-70">
            <div class="text-box">
                <div class="row-top"><a href="">{{nationwideEvent.eventTitle}}</a></div>
                <div class="row-bottom"><b>Location: </b> {{nationwideEvent.eventLocation}}
                    <br>
                    <b>When: </b>{{nationwideEvent.eventTime}}</div>
                </div>
            </div>
        </div>
        <div class="event-description">
            <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p>
            <a href=""><img src="img/svg/icon_web-link.svg" />  <b>www.scte.org/events</b></a><br><br>
            <button class="myevents-calendar" ng-click="addEvent(nationwideEvent.eventDate,nationwideEvent.WPeventYear,nationwideEvent.WPeventMonth,nationwideEvent.WPstartTime, nationwideEvent.WPendTime,nationwideEvent.eventTitle,nationwideEvent.eventLocation)"><b>Add to Calendar</b></button>
        </div>
    </div>
    </div>


        <div>
            <ui-view name="tab-resource"></ui-view>
        </div>
    </ion-content>
</ion-view>
