<div ng-hide="!activeTab = 3" class="my-events">
    <div class="event-details" ng-repeat="nationwideEvent in nationwideEvents">
        <div class="row">
            <div class="col">
                <div class="event-date">
                    <span class="circle">{{nationwideEvent.eventDate}}</span><br>
                    <span>{{nationwideEvent.eventMonth}}</span>
                </div>
            </div>
            <div class="col col-75">
                <h5>{{nationwideEvent.eventTitle}}</h5>
                <b>Location : </b> {{nationwideEvent.eventLocation}}<br>
                <b>When : </b> {{nationwideEvent.eventTime}}
            </div>
        </div>
        <i class="icon ion-link">  www.scte.org/events</i>
        <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p><br>
        <button class="myevents-calendar">Add to Calendar</button>
    </div>
    <!-- <div class="event-details">
        <div class="row">
            <div class="col">
                <div class="event-date">
                    <span class="circle">29th</span>
                    <br>
                    <span>May</span>
                </div>
            </div>
            <div class="col col-75">
                <h4>East Pennsylvania Chapter Training</h4>
                <b>Location:</b> SCTE Exton, PA
                <br>
                <b>When:</b> All Day
            </div>
        </div>
        <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Lorem ipsum dolo sitamt, consectetur adipiscing elit.</p>
        <i class="icon ion-link">  www.scte.org/events</i>
        <button class="myevents-calendar">Add to Calendar</button>
    </div> -->
</div>
