<ion-view view-title="{{cortexLogo}}" class="my-events">
    <ion-content class="scroll-content background padding event-detail-content">
        <div ng-init="eventFullDescription()">
            <div class="card eventindiv">
                <div class="row">
                    <div class="col-30">
                        <div class="date-box">
                            <img src="img/svg/img_calendar.svg" />
                            <div class="date"><b>{{events.formattedBeginDate | date: 'dd'}}</b></div>
                            <div class="month"><b>{{events.formattedBeginDate | date: 'MMM'}} '{{events.formattedBeginDate | date: 'yy'}}</b></div>
                        </div>
                    </div>
                    <div class="col-70">
                        <div class="text-box">
                            <div class="row-top"><a href="">{{events.title}}</a></div>
                            <div class="row-bottom"><b>Location: </b>{{events.address1}} {{events.address2}} {{events.address3}} {{events.city}} {{events.stateProvince}} {{events.postal}}
                                <br>
                                <b>When: </b>{{events.formattedBeginDate | date: 'shortTime'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-description">
                    <p ng-bind-html="events.webDescription"></p>
                    <div ng-show="event.meetingUrl">
                        <a href="{{events.meetingUrl}}"><img src="img/svg/icon_web-link.svg" /> <b>{{events.meetingUrl}}</b></a>
                    </div>
                    <br>
                    <button class="myevents-calendar" ng-click="addEvent(events.title,events.city,events.title,events.formattedBeginDate, events.formattedEndDate)"><b>Add to Calendar</b></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
