<ion-view view-title="Events" class="my-events">
    <ion-nav-title>
        <img src="img/cortex_logo.png" class="header-cortex-logo">
    </ion-nav-title>
    <ion-header-bar class="bar-subheader">
        <div class="tabs tabs-secondary subheader-tabs" ng-init="discoverEvents(); activeTab = 0">
            <a class="tab-item my-events-myevents" ng-click="discoverEvents(); activeTab = 0" ui-sref="tab.discoversmyevents" ng-class="{active: activeTab == 0}">
                <div><i class="all-icon-tab_events_my-events"></i></div>
                <div class="tab-title">My Events</div>
            </a>
            <div class="border"></div>
            <a class="tab-item my-events-livelearning" ng-click="liveLearningEvents(); activeTab = 1" ng-class="{active: activeTab == 1}">
                <div><i class="all-icon-tab_events_livelearning"></i></div>
                <div class="tab-title">Live Learning</div>
            </a>
            <div class="border"></div>
            <a class="tab-item my-events-nationwide" ng-click="nationwideEvents(); activeTab = 2" ng-class="{active: activeTab == 2}">
                <div><i class="all-icon-tab_events_nationwide"></i></div>
                <div class="tab-title">Nationwide</div>
            </a>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader scroll-content padding">
        <div class="event-box" style="padding-bottom:10px;">
            <div class="card eventindiv" ng-repeat="event in eventType">
                <div class="row" ng-click="eventDetail(event.eventId,eventTabName,event.webDescription)">
                    <table>
                        <tr>
                            <td>
                                <div class="date-box">
                                    <img src="img/svg/img_calendar.svg" />
                                    <div class="date"><b>{{event.formattedBeginDate | date: 'dd'}}</b></div>
                                    <div class="month"><b>{{event.formattedBeginDate | date: 'MMM'}} '{{event.formattedBeginDate | date: 'yy'}}</b></div>
                                </div>
                            </td>
                            <td class="table-content">
                                <div class="text-box">
                                    <div class="row-top" ng-click="eventDetail(event.eventId,eventTabName,event.webDescription)"><a href="">{{event.title}}</a></div>
                                    <div class="row-bottom" ng-hide="!event.address1 && !event.address2 && !event.address3 && !event.city && !event.stateProvince && !event.postal"><b>Location: </b>{{event.address1}} {{event.address2}} {{event.address3}} {{event.city}} {{event.stateProvince}} {{event.postal}}
                                        <br>
                                    </div>
                                    <b>When: </b>{{event.formattedBeginDate | date: 'shortTime'}}
                                    <br><a ng-click="addEvent(event.title,event.city,event.title,event.formattedBeginDate, event.formattedEndDate)" href="#"><u>Add To Calendar</u></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!--    <div class="col-30" style="margin-left: 10px;">
                        <div class="date-box">
                            <img src="img/svg/img_calendar.svg" />
                            <div class="date"><b>{{event.formattedBeginDate | date: 'dd'}}</b></div>
                            <div class="month"><b>{{event.formattedBeginDate | date: 'MMM'}} '{{event.formattedBeginDate | date: 'yy'}}</b></div>
                        </div>
                    </div>
                    <div class="col-70" style="margin-left: -10px;">
                        <div class="text-box">
                            <div class="row-top" ng-click="eventDetail(event.eventId,eventTabName,event.webDescription)"><a href="">{{event.title}}</a></div>
                            <div class="row-bottom" ng-hide="!event.address1 && !event.address2 && !event.address3 && !event.city && !event.stateProvince && !event.postal"><b>Location: </b>{{event.address1}} {{event.address2}} {{event.address3}} {{event.city}} {{event.stateProvince}} {{event.postal}}
                                <br>
                            </div>
                            <b>When: </b>{{event.formattedBeginDate | date: 'shortTime'}}
                            <br><a ng-click="addEvent(event.title,event.city,event.title,event.formattedBeginDate, event.formattedEndDate)" href="#"><u>Add To Calendar</u></a>
                        </div>
                    </div> -->
                </div>
                <div class="event-description">
                    <div class="description-button" ng-show="event.webDescription">
                        <a href="" ng-click="eventDetail(event.eventId,eventTabName,event.webDescription)">Read more</a>
                    </div>
                    <div ng-show="event.meetingUrl" class="event-url">
                        <a ng-click="eventUrl(event.meetingUrl)">
                            <div class="row">
                                <div class="col-15" style="padding-top: 5px"><img src="img/svg/icon_web-link.svg" />
                                </div>
                                <div class="col" style="padding-right: 15px"> {{event.meetingUrl}}
                                </div>
                            </div>
                        </a>
                    </div>
                    <br>
                </div>
                <button class="button button-full button-positive reg-btn" ng-click="openInAppBrowser(event.url)">Registration Page</button>
            </div>
        </div>
        <div>
            <ui-view name="tab-discover"></ui-view>
        </div>
    </ion-content>
</ion-view>
