<ion-modal-view class="filter-slider">
    <ion-content>
        <div class="row filter-header">
            <div class="col-50">
                <span class="title">FILTER</span>
            </div>
            <div class="col-50">
                <button class="button button-positive button-small" ng-click="hideFilterSlider(); getCheckedValues(contentType, formatType)">APPLY FILTER</button>
            </div>
        </div>
        <div class="content-type-box">
            <h5 class="title">Content Type</h5>
            <ion-list>
                <ion-checkbox class="item-checkbox-right" name="contentType" ng-repeat="typecontent in contentType" ng-model="typecontent.checked" ng-checked="typecontent.checked">
                    {{ typecontent.text }}
                </ion-checkbox>
            </ion-list>
        </div>
        <div class="format-box">
            <h5 class="title">Format</h5>
            <div class="filter-content-type-main1">
                <ion-checkbox class="item-checkbox-right" name="formatType" ng-repeat="typeformat in formatType" ng-model="typeformat.checked" ng-checked="typeformat.checked">
                    {{ typeformat.text }}
                </ion-checkbox>
            </div>
        </div>
        <div class="filter-footer">
            <button class="button button-positive button-small" ng-click="hideFilterSliderOnCancel()">CANCEL</button>
            <button class="button button-positive button-small" ng-click="hideFilterSlider(); getCheckedValues(contentType, formatType)">APPLY FILTER</button>
        </div>
    </ion-content>
</ion-modal-view>
<div class="overlay-bg"></div>
