<ion-modal-view class="below-subnav">
	<ion-header-bar class="bar-calm">
		<button class="button button-clear" ng-click="closeAdd()">
			<i class="icon ion-android-close"></i>
		</button>
		<div class="h1 title">Recent searches</div>
	</ion-header-bar>

	<ion-content>
      <div class="item item-divider">Tap to search again</div>
		<div class="list">
		  <a class="item item-icon-right" href="#" ng-repeat="i in [0,1,2,3,4,5]">
			"arris modem fast reboot"
			<i class="icon ion-search"></i>
			<p>23 results</p>
		  </a>
		</div>
	  </div>
    </div>
	</ion-content>
</ion-modal-view>
