<ion-view view-title="Tech Tips & More">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-ios-gear-outline" ui-sref="tab.settings"></button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader">
    <div class="tabs tabs-secondary" ng-init="activeTab = 0">
      <div class="tab-item" ng-class="{active: activeTab == 0}" ng-click="activeTab = 0">
        Tech Tips
      </div>
      <div class="tab-item" ng-class="{active: activeTab == 1}" ng-click="activeTab = 1">
        Standards
      </div>
      <div class="tab-item" ng-class="{active: activeTab == 2}" ng-click="activeTab = 2">
        Best Practices
      </div>
    </div>  
  </ion-header-bar>

  <ion-content class="has-header bg-grey-200 has-subheader">

    <div ng-show="activeTab == 0">
      <div class="list card">
        <div class="item item-body">
          <div class="list">
            <a class="item item-thumbnail-left" href="#">
              <img holder data-src="holder.js/100px100p?outline=yes&text=image goes here">
              <i><i class="icon ion-social-youtube"></i></i>
              Wi-Fi Dead Spots
              <p>
                Client's wifi router is the basement? No problem!
              </p>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-80 col-offset-10 text-center">
          <button class="button button-calm">
            Submit your Tech Tip!
          </button>
        </div>
      </div>
    </div>

    <div class="card" ng-show="activeTab == 0">
      <div class="list">
        <div class="item item-divider">
          Games
        </div>
        <div class="item item-icon-left" ng-repeat="i in [1,2,3]">
          <i class="icon ion-document"></i>
          Game #{{i}}
        </div>
      </div>
    </div>

    <div class="card" ng-show="activeTab == 1" ng-controller="StaticContentController">
      <div class="list">
        <div class="item item-divider">
          Standards
        </div>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchBox">
          </label>

          <div class="item item-icon-left" ng-repeat="item in staticcontent.standards | filter:searchBox track by $index" ng-click="openPage(item.url)">
          <i class="icon ion-document"></i>
          <h2>{{item.identifier}}</h2>
          <p>{{item.title}}</p>
        </div>
      </div>
    </div>

    <div class="card" ng-show="activeTab == 2">
      <div class="list">
        <div class="item item-divider">
          Best Practices
        </div>
        <div class="item item-icon-left" ng-repeat="i in [1,2,3]">
          <i class="icon ion-document"></i>
          Item #{{i}}
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
