<ion-view view-title="Tech Tip">
  <ion-nav-buttons side="secondary">
    <button class="button button-stable" ng-click="doSomething()">
      Submit your tip!
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list card">
      <div class="item item-image">
        <img holder data-src="holder.js/100px200?outline=yes&text=Video thumbnail">
      </div>
      <h2>Wi-Fi Dead Spots</h2>
      <p><b>Client's wifi router is in the basement? No problem!</b></p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula euismod purus, nec tristique dolor iaculis et. Donec ac facilisis arcu. Phasellus eget dignissim mauris. In turpis ligula, vehicula ac lacinia nec, egestas sit amet arcu. Phasellus elit ex, tincidunt quis commodo a, commodo quis leo. Suspendisse et hendrerit nibh. Morbi pellentesque et justo ac dapibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        Mauris erat augue, varius a blandit et, viverra et nunc. Vivamus sollicitudin mattis libero sed ornare. In hac habitasse platea dictumst. Proin vel justo felis. Nullam sollicitudin turpis a quam ultricies, nec eleifend quam eleifend. Aenean in mollis nunc. Integer non luctus felis. Fusce tincidunt leo mi, a condimentum tortor pellentesque ac. Morbi quis eros diam. Donec dictum fringilla ipsum, sit amet finibus arcu consequat non. Praesent iaculis enim at posuere egestas. Sed sit amet efficitur tellus.

        Proin nec nisl lorem. Cras lobortis massa ac tellus rutrum congue. Nunc tempus auctor elit, in dictum ex facilisis a. Praesent mollis accumsan massa id elementum. Fusce rhoncus, urna vel aliquam dictum, ante leo porta lacus, id efficitur arcu lectus eu ex. Fusce in placerat elit, id mattis tellus. Vivamus euismod arcu lacus, eget venenatis leo imperdiet ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam quis lectus non magna fermentum dictum.
      </p>
    </div>
  </ion-content>
</ion-view>
