	<ion-view view-title="{{cortexLogo}}">
		<!--<ion-nav-bar id="dictionary-bar" class="bar-positive" ng-controller="dictionaryCtrl" align-title="center">
			<ion-nav-back-button class="button-clear"
			ng-click="bthBack()">
			<i class="ion-ios-arrow-back"></i> Back
		</ion-nav-back-button>
	</ion-nav-bar>-->
	<ion-content scroll='false' id="dictionart-view" class="has-header dic-container" ng-controller="dictionaryCtrl">
		<div id='searchbar' class="row searchinput">
			<div class="col col-center">
				<label class="item item-input searchbox">
					<i class="icon ion-ios-search placeholder-icon"></i>
					<input type="search" placeholder="Search for a keyword" ng-model="searchString" ng-change="searchTextDidChange()">
				</label>
			</div>
		</div>
		<ion-alpha-scroll ng-model="filteredItems" key="word" id="popoverviewdiv">
			<div id="listview" class="row" ng-click = "openPopover($event)">
				<div class="col col-25 list-leftword">{{item.word}}</div>
				<div class="col col-75 list-rightword">{{item.description}}</div>
			</div>
		</ion-alpha-scroll>
	</ion-view>