<ion-view view-title="{{cortexLogo}}" class="app-library">
    <ion-nav-buttons side="secondary">
        <i class="button ion-search" ng-click=""></i>
    </ion-nav-buttons>
    <ion-content class="padding">
        <h5 class="text">APP LIBRARY</h5>
        <p>Lorem ipsum dolo sitamt, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
        <ion-scroll class="scroll-category">
            <div class="category">
                <h5>CATEGORY 1</h5>
                <!--  <a href="" class="category-see-all">See All &gt;</a> -->
                <div>
                    <table>
                        <tr>
                            <td ng-repeat="category in category1">
                                <a href="" class="app-category"><img ng-src="{{category.game}}">
                                    <p class="text">{{category.game_title}}</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </ion-scroll>
        <ion-scroll class="scroll-category">
            <div class="category">
                <h5>CATEGORY 2</h5>
                <!-- <a href="" class="category-see-all">See All &gt;</a> -->
                <div>
                    <table>
                        <tr>
                            <td ng-repeat="category in category2">
                                <a href="" class="app-category"><img ng-src="{{category.game}}">
                                    <p class="text">{{category.game_title}}</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </ion-scroll>
        <ion-scroll class="scroll-category">
            <div class="category">
                <h5>CATEGORY 3</h5>
                <!-- <a href="" class="category-see-all">See All &gt;</a> -->
                <div>
                    <table>
                        <tr>
                            <td ng-repeat="category in category3">
                                <a href="" class="app-category"><img ng-src="{{category.game}}">
                                    <p class="text">{{category.game_title}}</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
