<ion-view view-title='{{cortexLogo}}' class="techtips" ng-init="initialize()">
    <ion-nav-buttons side="secondary">
        <label class="submit-btn" ng-click="showPopup()">Submit</label>
    </ion-nav-buttons>
    <ion-content class="padding">
        
        <div ng-repeat="techTipsContent in techTipsContents" class="techtips-video-pdf-types">
            <div ng-if="techTipsContent.template == 'video'">
                <h4><b>{{techTipsContent.title}}</b></h4>
               <div class="video-containerYoutube">
                <iframe ng-src="{{techTipsContent.videourl}}" frameborder="0" width="350" height="200"></iframe> 
                </div>
            </div>
            <div ng-if="techTipsContent.template == 'html'" ng-click="techtipRouter(techTipsContent.title,techTipsContent.htmlbody)">
                <div class="row">
                    <div class="col-25">
                        <img ng-src="{{techTipsContent.coverimageurl}}" class="img-responsive" />
                    </div>
                    <div class="col-75">
                        <h4><b>{{techTipsContent.title}}</b></h4>
                    </div>
                </div>
                <p><b>{{techTipsContent.subtitle  | limitTo: 200}}{{techTipsContent.subtitle > 200 ? '...' : ''}}</b></p>
                <div class="techtips-digital">
                    <a ng-click="techtipRouter(techTipsContent.title,techTipsContent.htmlbody)">Read more</a>
                    <div class="techtips-ratings">
                        <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <script id="templates/modal.html" type="text/ng-template">
            <ion-modal-view class="video-modal-maincontainer">
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Submit Your Tech Tip</h1>
                    <img class="video-modal-close" src="img/u56.png" ng-click="modal.hide()"></img>
                </ion-header-bar>
                <ion-content class="padding">
                    <div class="list">
                        <div class="video-container">
                        </div>
                        <div class="video-container-camera-img">
                            <img src="img/u292.png"></img>
                        </div>
                        <button class="button button-full button-positive" ng-click="createContact(newUser)">submit</button>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
