<ion-view view-title="Games" class="games-wrapper">
    <ion-nav-title>
        <img src="img/cortex_logo.png" class="header-corter-logo">
    </ion-nav-title>
    <ion-content>
        <div class="card cards" ng-repeat="gameItem in gameItems">
            <div class="game-title">{{gameItem.title}}</div>
            <div class="game-image"><img src="img/u48.png"></div>
            <div class="game-description">{{gameItem.description}}</div>
            <div style="text-align:center;">
                <button class="game-play-button">Play Now</button>
            </div>
        </div>
    </ion-content>
</ion-view>
