<ion-view view-title="{{cortexLogo}}">
    <ion-content class="mylearning-wrapper">
        <div class="main-title">My Learning</div>
        <div class="sub-title">{{modulename}}</div>
        <div class="card cards" ng-repeat="item in items">
            <div ng-if="item.type == 'video'" class="media-video">
                <!-- <div class="type">{{item.type}} <span ng-if="item.type != 'pdf'">:</span> {{item.duration}}</div> -->
                <div><img src="img/video-placeholder.jpg"></div>
                <div class="title">{{item.title}}</div>
                <div class="progress-bar" ng-if="item.completed > 0">
                    <div class="completed" style="width: {{item.completed}}%">
                    </div>
                    <span>{{item.completed}}% Completed</span>
                </div>
                <div class="progress-bar" ng-if="item.completed == 0">
                    <span>Not Started</span>
                </div>
            </div>
            <div ng-if="item.type == 'pdf'" class="media-pdf">
                <div class="row">
                    <div class="col-25 placeholder"><img src="img/svg/icon_pdf.svg"></div>
                    <div class="col-75 text-box">
                        <div class="title">{{item.title}}</div>
                        <div class="description">{{item.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>