<ion-view view-title="My Learning" class="my-learning">
    <ion-nav-title>
        <img src="img/cortex_logo.png" class="header-cortex-logo">
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <i ng-click="redirectDisover()" class="all-icon-icon_search_white header-search-icon"></i>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader">
        <div class="tabs tabs-secondary subheader-tabs">
            <a class="tab-item tab-allcourses" ng-class="{active: activeTab == 2}" ng-click="activeTab = 2;doFocus()">
                <div><i class="all-icon-tab_my-learning_all-courses"></i></div>
                <div class="tab-title">All Courses</div>
            </a>
            <div class="border"></div>
            <a class="tab-item tab-inprogress" ng-class="{active: activeTab == 0}" ng-click="activeTab = 0;doFocus()" ui-sref="tab.mylearning">
                <div><i class="all-icon-tab_my-learning_in-progress"></i></div>
                <div class="tab-title">In Progress</div>
            </a>
            <div class="border"></div>
            <a class="tab-item tab-completed" ng-class="{active: activeTab == 1}" ng-click="activeTab = 1;doFocus()">
                <div><i class="all-icon-tab_my-learning_completed"></i></div>
                <div class="tab-title">Completed</div>
            </a>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader scroll-content background padding">
        <h4 class="main-title">My Learning</h4>
        <div class="coursesNil" ng-if="mylearningCourseLength === 0">
            <p>{{noCourseErrorMsg}}</p>
        </div>
        <div class="course-catalog">
            <button class="button button-outline button-positive button-block" ng-click="openURL()">{{btnCourseData.value}}</button>
        </div>
        <div class="inprogress-course" ng-show="activeTab == 0">
            <ion-list ng-repeat="inprogressCourse in inprogressCourses" class="course-module-content">
                <ion-item class="item-stable course-list item-icon-right" ng-click="toggleInprogressCourse(inprogressCourse)" ng-class="{active: isInprogressCourseShown(inprogressCourse)}">
                    <b>{{inprogressCourse.ProfileName}}</b>
                    <i class="icon" ng-class="isInprogressCourseShown(inprogressCourse) ? 'ion-minus' : 'ion-plus'"></i>
                </ion-item>
                <div class="item-accordion" ng-repeat="inprogressModule in inprogressCourse.userCourseList" ng-show="isInprogressCourseShown(inprogressCourse)" ng-click="openSCTEModule(inprogressModule.Url)">
                    <div class="item item-icon-right">
                        <i class="icon ion-chevron-right"></i> <b>{{inprogressModule.FullName}}</b>
                    </div>
                    <div ng-show="displayWcwCourse && isInprogressCourseShown(inprogressCourse)">
                        Materials for this course is not yet available in the SCTE mobile app
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="inprogress-course" ng-show="activeTab == 2">
            <ion-list ng-repeat="allCourse in allCourses" class="course-module-content">
                <ion-item class="item-stable course-list item-icon-right" ng-click="toggleAllCourse(allCourse)" ng-class="{active: isAllCourseShown(allCourse)}">
                    <b>{{allCourse.ProfileName}}</b>
                    <i class="icon" ng-class="isAllCourseShown(allCourse) ? 'ion-minus' : 'ion-plus'"></i>
                </ion-item>
                <div class="item-accordion" ng-repeat="allCourseModule in allCourse.userCourseList" ng-show="isAllCourseShown(allCourse)" ng-click="openSCTEModule(allCourseModule.URL)">
                    <div class="item item-icon-right">
                        <i class="icon ion-chevron-right"></i> <b>{{allCourseModule.FullName}}</b>
                    </div>
                    <div ng-show="displayWcwCourse && isAllCourseShown(allCourse)">
                        Materials for this course is not yet available in the SCTE mobile app
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="inprogress-course" ng-show="activeTab == 1">
            <ion-list ng-repeat="completedCourse in completedCourses" class="course-module-content">
                <ion-item class="item-stable course-list item-icon-right" ng-click="toggleCompletedCourse(completedCourse)" ng-class="{active: isCompletedCourseShown(completedCourse)}">
                    <b>{{completedCourse.ProfileName}}</b>
                    <i class="icon" ng-class="isCompletedCourseShown(completedCourse) ? 'ion-minus' : 'ion-plus'"></i>
                </ion-item>
                <div class="item-accordion" ng-repeat="completedCourseModule in completedCourse.userCourseList" ng-show="isCompletedCourseShown(completedCourse)" ng-click="openSCTEModule(completedCourseModule.Url)">
                    <div class="item item-icon-right">
                        <i class="icon ion-chevron-right"></i> <b>{{completedCourseModule.FullName}}</b>
                    </div>
                    <div ng-show="displayWcwCourse && isCompletedCourseShown(completedCourse)">
                        Materials for this course is not yet available in the SCTE mobile app
                    </div>
                </div>
            </ion-list>
        </div>
        <ui-view name="tab-mylearning"></ui-view>
        <div ng-show="promoflag=='true'" class="live-learning">
            <div ng-click="openLiveLearning(liveLearningEvents.url)" ng-show="promoflagType=='nooverlay'">
                <img ng-src="{{promoBgImage}}" class="img-responsive" />
            </div>
            <div ng-click="openLiveLearning(liveLearningEvents.url)" ng-show="promoflagType=='overlayme'">
                <img ng-src="{{promoBgImage}}" class="img-responsive" />
                <div class="event-box-text">
                    <div>{{liveLearningEvents.title}}</div>
                    <div>{{liveLearningEvents.formattedBeginDate | date: 'MMM-dd-yyyy'}}</div>
                </div>
            </div>
        </div>
        <div class="mylearning-game-header" style="display: none">
            <h5 class="mylearning-games">Games</h5>
        </div>
        <div class="list games" ng-show="gamesErrorMsg==''" style="display: none">
            <div class="item item-thumbnail-left" ng-repeat="mylearningGame in gameItems" ng-click="openSCTEModule(mylearningGame.url)" ng-hide="mylearningGame.template == 'hidden'">
                <img ng-src="{{mylearningGame.coverimageurl}}" style="width:100%;height:auto">
                <h2>{{mylearningGame.title}}</h2>
                <div ng-hide="showHide{{$index}}">
                    <div class="para" ng-bind-html="mylearningGame.descriptionhtml"></div>
                    <a ng-click="$event.stopPropagation(); showHide{{$index}} = true" class="read-more">Read more</a>
                </div>
                <div ng-show="showHide{{$index}}">
                    <div class="all-para" ng-bind-html="mylearningGame.descriptionhtml"></div>
                    <a ng-click="$event.stopPropagation(); showHide{{$index}} = false" class="read-more">Read less</a>
                </div>
            </div>
            <div ng-repeat="apiGame in apiGames">
                <div class="item item-thumbnail-left" ng-click="openSCTEModule(apiGame.Url)">
                    <img ng-src="img/SCTE-ISBE_LogoBugs_Black.png" style="width:100%;height:auto" />
                    <h2>{{findGameName(apiGame.Name)}}</h2>
                    <div class="para">{{gamDesc}}</div>
                </div>
            </div>
        </div>
        <div ng-show="gamesErrorMsg!=''">
            <div class="card item item-text-wrap">{{gamesErrorMsg}}</div>
        </div>
    </ion-content>
</ion-view>
