<ion-view hide-nav-bar="true" class="login-wrapper">
    <ion-content>
        <div class='full-size'>
            <div class='logintop'>
                <div class="row">
                    <div class="image-logo text-center">
                        <img src="img/CORTEX_Logo_AppTag_WH.png" />
                    </div>
                </div>
                <div class="usernamediv">
                    <label class="item item-input">
                        <input ng-model="username" type="text" placeholder="Your scte.org username" autocapitalize="none" />
                    </label>
                </div>
                <div class="passworddiv">
                    <label class="item item-input">
                        <input ng-model="password" type="password" placeholder="Password" />
                    </label>
                </div>
                <div class="forgot-password">
                    <button ng-click="forgotpassword()" class="button button-clear">
                        Forgot password?
                    </button>
                </div>
                <div class="logindiv">
                    <button ng-click="login(username, password)" class="button button-positive button-block">
                        LOGIN
                    </button>
                </div>
            </div>
            <div class='loginbottom'>
                <div class="scte-logo text-center">
                    <img src="img/SCTE-ISBE-logo.png" />
                </div>
                <div class="signuptext text-center">
                    <span>Access to CORTEX Mobile is a benefit provided exclusively to SCTE/ISBE members. To use CORTEX Mobile, become a member at scte.org.</span>
                </div>
                <div class="join-scte hide">
                    <button ng-click="joinSCTE()" class="button button-outline button-energized button-block">
                        JOIN SCTE NOW
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
