<ion-modal-view class="bg-gradient">
  <ion-header-bar class="no-bg b-none">
    <h1 class="title"></h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeLogin()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div>
      <img src="img/SCTE-ISBE_LogoBugs_Blue.png" style="width: 100%">
    </div>
    <div class="list card"> 
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="email" type="text" focus-me>
      </label>
      <label class="item item-input">
      <span class="input-label">Password</span>
        <input ng-model="password" type="password">
      </label>
    </div>

    <div ng-controller="DynamicContentController">
      <button class="button button-block button-outline button-light" ng-click="doLogin()"><b>Sign in</b></button>
      
    </div>

    <div class="light row">
      <div class="col hide">
        Forgot password
      </div>
      <div class="col text-center">
        <br>
        <a href="" class="light" ng-click="closeLogin(); openJoinPage()">Become an SCTE member</a>
      </div>
    </p>
  </ion-content>
</ion-modal-view>